@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .tab {
        @apply flex items-center rounded-lg px-3 py-2 text-gray-500 hover:bg-white hover:text-gray-700 hover:shadow transition
    }
    .active-tab {
        @apply flex items-center rounded-lg px-3 py-2 shadow bg-white hover:text-gray-700 hover:shadow
    }
    .special-tab {
        @apply flex items-center rounded-lg px-3 py-2 bg-azure-radiance-200 hover:bg-azure-radiance-300 hover:text-gray-700 transition
    }
    .section {
        @apply border-opacity-30 border-azure-radiance-100 mb-7
    }
};